In [1]:
import pandas as pd
from pathlib import Path


data_path = Path("./data/porn_or_not_porn")
data = data_path.rglob(f"*.*")
all_data = list(data)
len(all_data)

4566

In [4]:
target_map = {"not_porn": 0, "porn": 1}
data_dict = {"filepath": all_data}
df = pd.DataFrame(data_dict)
df["label_str"] = df["filepath"].apply(lambda x: x.parent.name)
df["label"] = df["label_str"].map(target_map)
df.head()

                                            filepath label_str  label
0  data/porn_or_not_porn/porn/1479026608_m4h05889...      porn      1
1  data/porn_or_not_porn/porn/1459499829_4384093d...      porn      1
2  data/porn_or_not_porn/porn/1448990004_my-priva...      porn      1
3  data/porn_or_not_porn/porn/1232561242_46194_18...      porn      1
4  data/porn_or_not_porn/porn/1281969136_my-priva...      porn      1

In [10]:
df.groupby("label").count()

       filepath  label_str
label
0          4060       4060
1           506        506

In [11]:
from sklearn.model_selection import train_test_split

train_val, test = train_test_split(df, stratify=df["label"], shuffle=True, train_size=0.9, test_size=0.1, random_state=24)
train, val = train_test_split(train_val, stratify=train_val["label"], shuffle=True, train_size=0.8, test_size=0.2, random_state=24)
train.head()

                                               filepath label_str  label
848   data/porn_or_not_porn/not_porn/ps6n0uh4d0a16mg...  not_porn      0
3735  data/porn_or_not_porn/not_porn/IMG_20190815_17...  not_porn      0
1126  data/porn_or_not_porn/not_porn/pi8iw3k0oscksow...  not_porn      0
1776  data/porn_or_not_porn/not_porn/B6203889-C422-4...  not_porn      0
2936  data/porn_or_not_porn/not_porn/307540784_10159...  not_porn      0

In [12]:
train.groupby("label").count()

       filepath  label_str
label
0          2923       2923
1           364        364

In [13]:
val.groupby("label").count()

       filepath  label_str
label
0           731        731
1            91         91

In [14]:
test.groupby("label").count()

       filepath  label_str
label
0           406        406
1            51         51

In [15]:
train["split"] = "train"
val["split"] = "val"
test["split"] = "test"

In [16]:
split_full = pd.concat([train, val, test], ignore_index=True)
split_full.sample(5)

,filepath,label_str,label,split
1020,data/porn_or_not_porn/not_porn/IMG_5705.JPG,not_porn,0,train
4193,data/porn_or_not_porn/not_porn/E3216393-A0CB-4...,not_porn,0,test
2932,data/porn_or_not_porn/not_porn/C3AB8CE2-40D7-4...,not_porn,0,train
1554,data/porn_or_not_porn/not_porn/BCA18B1E-F65F-4...,not_porn,0,train
795,data/porn_or_not_porn/not_porn/ECBEA556-270A-4...,not_porn,0,train

In [18]:
save_path = Path("./data/processed/splits")
save_path.mkdir(exist_ok=True, parents=True)
split_full.to_csv(save_path / "6_04_23.csv", index=False)